<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/form_style.css">
    <title>Document</title>
</head>
<body>

<div class="form">
    <li th:text="${message}" class="message"></li>
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your account! And order something tasty</div>
    <form th:action="@{/saveCustomer}" method="post" th:object="${customer}" >

    <div class="input-container ic1">
        <input th:field="*{firstName}" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label class="placeholder">First name</label>
    </div>
    <div class="input-container ic2">
        <input th:field="*{lastName}" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label  class="placeholder">Last name</label>
    </div>
    <div class="input-container ic2">
        <input th:field="*{email}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label  class="placeholder">Email</label>
    </div>
    <div class="input-container ic2">
        <input th:field="*{gender}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label  class="placeholder">Gender</label>
    </div>
       <div th:object="${delivery}">
    <div class="input-container ic2">
        <input th:field="*{city}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label class="placeholder">City</label>
    </div>
    <div class="input-container ic2">
        <input th:field="*{postcode}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label  class="placeholder">Postcode</label>
    </div>
    <div class="input-container ic2">
        <input th:field="*{street}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label class="placeholder">Street</label>
    </div>
        <div class="input-container ic2">
        <input th:field="*{houseNum}" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label class="placeholder">Number</label>
    </div>

    <button type="submit" value="Submit" class="submit">Submit</button>
       </div>
    </form>
</div>
</body>
</html>