<!DOCTYPE html>
<html lang="en" xmlns:th="//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | My Garden</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/form_admin_style.css">



</head>
<body>

<!--&lt;!&ndash; login block &ndash;&gt;-->
<!--    <div class="container-login">-->
<!--        <div class="screen">-->
<!--        <div class="screen__content">-->

<!--            <form class="login" th:action="@{/login}" method="post" style="list-style-type: none">-->
<!--                &lt;!&ndash; ErrorMessage &ndash;&gt;-->
<!--                <li class="errorMessage"-->
<!--                    th:if="${!#strings.isEmpty(errorMessage)}"-->
<!--                    th:text="${errorMessage}"><li/>-->
<!--                <div class="login__field">-->
<!--                    <i class="login__icon fas fa-user"></i>-->

<!--                    <input type="text" class="login__input" name="username" id="username" placeholder="User name / Email">-->
<!--                </div>-->
<!--                <div class="login__field">-->
<!--                    <i class="login__icon fas fa-lock"></i>-->
<!--                    <input type="password" class="login__input" name="password" id="password" placeholder="Password">-->
<!--                </div>-->

<!--                <button class="button login__submit">-->
<!--                    <span class="button__text">Log In Now</span>-->
<!--                    <i class="button__icon fas fa-chevron-right"></i>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!-- //login block -->
    <div class="subtitle_1">Log in only if you have Admin permissions</div>
    <form class="form_admin" th:action="@{/login}" method="post" style="list-style-type: none">
        <div class="input-container ic1">
            <input type="text" class="login__input" name="username" id="username" placeholder="User name / Email">
        </div>
        <div class="input-container ic2">
            <input type="password" class="login__input" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" value="Submit" class="submit_admin">Submit</button>
        <p align="right"><a style="float:right;text-align:right;text-decoration: none" th:href="@{/logout}">Home</a></p>
    </form>




</body>
</html>



<!--<div class="container-login">-->
<!--    <div class="screen">-->
<!--        <div class="screen__content">-->

<!--            <form class="login" th:action="@{/login}" method="post" style="list-style-type: none">-->
<!--                &lt;!&ndash; ErrorMessage &ndash;&gt;-->
<!--                <li class="errorMessage"-->
<!--                    th:if="${!#strings.isEmpty(errorMessage)}"-->
<!--                    th:text="${errorMessage}"><li/>-->
<!--                <div class="login__field">-->
<!--                    <i class="login__icon fas fa-user"></i>-->

<!--                    <input type="text" class="login__input" name="username" id="username" placeholder="User name / Email">-->
<!--                </div>-->
<!--                <div class="login__field">-->
<!--                    <i class="login__icon fas fa-lock"></i>-->
<!--                    <input type="password" class="login__input" name="password" id="password" placeholder="Password">-->
<!--                </div>-->

<!--                <button class="button login__submit">-->
<!--                    <span class="button__text">Log In Now</span>-->
<!--                    <i class="button__icon fas fa-chevron-right"></i>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->