<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Successful</title>
    <link rel="stylesheet" href="assets/css/succsesful.css">
</head>
<body>
<pre style="text-align: center; font-family: 'roboto'; font-size: 3rem">Registration successfully completed!!</pre>
<img class="succsesful" src="/assets/img/hack.png">
<div class="center">
<a th:href="@{/order}"><button type="submit" value="Submit" class="submit">Go to orders</button></a>
</div>
</body>
</html>